@import "./appshell-mobile-navbar-footer.css";
@import "./appshell-mobile-navbar-body.css";

.basicui-appshell-mobile-navbar {
  position: fixed;
  left: 0;
  top: var(--basicui-appshell-topbar-height);
  bottom: 0;
  right: 0;
  background-color: var(--basicui-bg-surface);
  z-index: 9;
  display: grid;
  grid-template-rows: 1fr auto;
}
