.basicui-appshell-mobile-navbar-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* background-color: var(--basicui-bg-surface); */
  height: var(--basicui-appshell-topbar-height);
  padding: 10px 20px;
}

.basicui-appshell-mobile-navbar-footer__left {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.basicui-appshell-mobile-navbar-footer__left button {
  font-size: inherit;
  box-shadow: none;
  border: none;
  background: none;
  color: inherit;
  font-size: 24px;
  width: 60px;
  display: flex;
  justify-content: center;
}

.basicui-appshell-mobile-navbar-footer__right {
  width: 60px;
  display: flex;
  justify-content: center;
}

.basicui-appshell-mobile-navbar-footer svg {
  height: 1em;
}
