@import "./appshell-body.css";
@import "./appshell-navbar.css";
@import "./appshell-topbar.css";
@import "./appshell-mobile-navbar-body.css";

.basicui-appshell {
}

.basicui-appshell__left {
  width: var(--basicui-appshell-navbar-width);
  transition: width 250ms ease-in-out, background-color 250ms ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  border-right: 1px solid var(--basicui-border-color);
}

.basicui-appshell--collapsed .basicui-appshell__left {
  width: var(--basicui-appshell-navbar-width-collapsed);
}

@media (max-width: 767px) {
  .basicui-appshell__left {
    display: none;
  }

  .basicui-appshell__right {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .basicui-appshell__right {
    margin-left: var(--basicui-appshell-navbar-width);
    transition: margin-left 250ms ease-in-out;
  }
  .basicui-appshell__right--hide-navbar {
    margin-left: 0;
    transition: margin-left 0ms ease-in-out;
  }
  .basicui-appshell--collapsed .basicui-appshell__right {
    margin-left: var(--basicui-appshell-navbar-width-collapsed);
  }
}
