.basicui-list-item {
  border-bottom: 1px solid var(--basicui-border-color);
  display: flex;
  column-gap: 4px;
}

.basicui-list-item__left,
.basicui-list-item__right {
  padding: var(--basicui-listitem-padding-y) 0;
}

.basicui-list-item__right {
  align-content: flex-end;
}

.basicui-list-item__main {
  flex: 1;
  padding: var(--basicui-listitem-padding-y) var(--basicui-listitem-padding-x);
}

.basicui-list-item__main__content {
  cursor: default;
}

.basicui-list-item__main__content__summary {
  opacity: 0.80;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.basicui-list-item__main__content__date-and-labels {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-top: 2px;
}

.basicui-list-item__main__content__date,
.basicui-list-item__main__content__labels__item {
  opacity: 0.70;
  column-gap: 2px;
  display: flex;
  align-items: center;
}

.basicui-list-item__main__content__labels {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
}

.basicui-list-item__main__content__labels__item {
  opacity: 0.60;
}

.basicui-list__header,
.basicui-list__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--basicui-listitem-padding-y) 0;
  min-height: calc(var(--basicui-button-height) + var(--basicui-listitem-padding-y) + var(--basicui-listitem-padding-y) + var(--basicui-button-border-thickness) + var(--basicui-button-border-thickness));
}

.basicui-list__header {
  border-bottom: 1px solid var(--basicui-border-color);
}

.basicui-list__header__right,
.basicui-list__footer__right {
  display: flex;
  column-gap: 12px;
  row-gap: 12px;
}