.basicui-logo {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}

.basicui-logo__icon,
.basicui-logo__text {
  display: flex;
  align-items: center;
}

.basicui-logo__icon img {
  height: 36px;
  width: 60px;
}

.basicui-logo__text img {
  height: 70%;
}
