.basicui-mobile-nav {
  position: fixed;
  left: 0;
  top: var(--basicui-appshell-topbar-height);
  bottom: 0;
  right: 0;
  background-color: var(--basicui-bg-surface);
  padding: 20px;
  overflow-y: auto;
}

.basicui-mobile-nav::-webkit-scrollbar {
  display: none;
}
