.basicui-modal-header {
    padding: 0 var(--basicui-modal-padding);
    display: flex;
    justify-content: space-between;
    height: var(--basicui-modal-header-height);
    align-items: center;
}

.basicui-modal-header--show-border {
    border-bottom: 1px solid var(--basicui-border-color);
}

.basicui-modal-header__heading {
    font-size: var(--basicui-modal-heading-font-size);
    font-weight: var(--basicui-modal-heading-font-weight);
}

.basicui-modal-header__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.basicui-modal-header__close svg {
    height: 16px;
    fill: var(--basicui-fg);
}