.basicui-modal-footer {
  padding: 0 var(--basicui-modal-padding);
  display: flex;
  justify-content: flex-end;
  min-height: var(--basicui-modal-header-height);
  align-items: center;
}

.basicui-modal-footer--show-border {
  border-top: 1px solid var(--basicui-border-color);
}

.basicui-modal-footer * {
  margin-right: var(--basicui-action-spacing);
}

.basicui-modal-footer *:last-child {
  margin-right: 0px;
}

.basicui-dark .basicui-modal-footer {
  border-color: var(--basicui-border-color);
}

.basicui-modal-footer--alignment-left {
  justify-content: flex-start;
}

.basicui-modal-footer--alignment-center {
  justify-content: center;
}
