.basicui-searchbar {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
}

.basicui-searchbar__input {
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--basicui-bg-surface);
    padding: 14px 0;
    border: 1px solid var(--basicui-border-color);
}

.basicui-searchbar__input__text {
    flex: 1;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: var(--basicui-bg-surface);
    color: var(--basicui-fg);
}

.basicui-searchbar__input__action-left,
.basicui-searchbar__input__action-right,
.basicui-searchbar__input__action-beforeright {
    padding: 4px 16px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.75;
}

.basicui-searchbar__input__action-beforeright,
.basicui-searchbar__input__action-left {
    border-right: 1px solid var(--basicui-border-color);
}

.basicui-searchbar__input__action-right {
    /* border-radius: 8px; */
    /* background-color: var(--basicui-bg-primary); */
}

.basicui-searchbar__advanced {
    margin-top: 10px;
    border: 1px solid var(--basicui-border-color);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--basicui-bg-surface);
    animation: slide-in 150ms;
    position: absolute;
    width: 100%;
    z-index: 99;
}

@keyframes slide-in {
    from {
        transform: translateY(-25%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.basicui-searchbar__advanced__main {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.basicui-searchbar-filtersection__content {
    /* display: none; */
    padding: 0 12px;
    display: grid;
    grid-auto-flow: row;
    row-gap: 4px;
    overflow: hidden;
    transition: height 250ms ease-in-out;
    /* Smooth transition on height */
}

.basicui-searchbar-filtersection__content .basicui-checkbox {
    padding-bottom: 10px;
}

.basicui-searchbar-filtersection__content .basicui-checkbox:first-child {
    padding-top: 10px;
}

.basicui-searchbar-filtersection__content .basicui-checkbox:last-child {
    padding-bottom: 20px;
}

.basicui-searchbar__advanced__footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

.basicui-searchbar__advanced__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
}

.basicui-searchbar__advanced__header__action {
    display: grid;
    grid-auto-flow: column;
    column-gap: 12px;
}

.basicui-searchbar__advanced__header__searchtext {
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
}

.basicui-searchbar__advanced__header__searchtext input {
    width: 60%;
    border-radius: var(--basicui-formelement-border-radius)
}

.basicui-searchbar__advanced__header__searchtext input::placeholder {
    color: var(--basicui-fg) !important;
    opacity: 0.4;
}

.basicui-searchbar__advanced__header__searchtext input:focus,
.basicui-searchbar__advanced__header__searchtext input:active {
    border-color: var(--basicui-bg-primary-transparent) !important;
}

/* filter accordion styling */
.basicui-searchbar-filtersection.basicui-accordion .basicui-accordion__header {
    padding: 12px 12px;
    height: auto;
    border-bottom: none;
    opacity: 0.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: opacity 250ms ease-in-out;
}

.basicui-searchbar-filtersection.basicui-accordion .basicui-accordion__header:hover,
.basicui-searchbar-filtersection.basicui-accordion.accordion-active .basicui-accordion__header {
    opacity: 1;
}

.basicui-searchbar-filtersection.basicui-accordion .basicui-accordion__header:hover,
.basicui-searchbar-filtersection.basicui-accordion .basicui-accordion__header:focus {
    background-color: var(--basicui-bg-surface);
}

.basicui-searchbar-filtersection.basicui-accordion.accordion-active .basicui-accordion__body {
    border-top: none;
}

.basicui-searchbar-filtersection {
    /* border-bottom: 1px solid var(--basicui-border-color); */
}

.basicui-searchbar-filtersection.basicui-accordion .basicui-accordion__body__content {
    padding: 0;
}