.basicui-selectnative {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.basicui-selectnative option {
    background-color: var(--basicui-bg-card);
    color: var(--basicui-fg-default);
}

.basicui-selectnative option:checked {
    background-color: var(--basicui-bg-accent);
    color: var(--basicui-fg-default);
}

.basicui-selectnative--multiple {
    height: auto;
    padding: 0;
}

.basicui-selectnative--multiple option {
    background-color: transparent;
}

.basicui-selectnative--multiple option:checked {
    background-color: var(--basicui-bg-accent);
}
