.basicui-svgicon {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    transition: 250ms fill ease-in-out;
}
.basicui-svgicon svg {
    transition: 250ms fill ease-in-out;
}