.basicui-tabs--theme-default .basicui-tabs__ul__li__button:hover,
.basicui-tabs--theme-default .basicui-tabs__ul__li__button:focus {
  /* background-color: var(--theme-default-transparent-100); */
}

.basicui-tabs--theme-default
  .basicui-tabs__ul__li--active
  .basicui-tabs__ul__li__button {
  background-color: var(--basicui-bg-default);
  color: var(--basicui-fg-default);
  fill: var(--basicui-fg-default);
  border-color: var(--basicui-bg-default);
}

.basicui-dark
  .basicui-tabs--theme-default
  .basicui-tabs__ul__li--active
  .basicui-tabs__ul__li__button {
  background-color: var(--basicui-bg-default);
  color: var(--basicui-fg-default);
  fill: var(--basicui-fg-default);
  border-color: var(--basicui-bg-default);
}

/* primary */
.basicui-tabs--theme-primary
  .basicui-tabs__ul__li--active
  .basicui-tabs__ul__li__button {
  background-color: var(--basicui-bg-primary);
  color: var(--basicui-fg-primary);
  fill: var(--basicui-fg-primary);
  border-color: var(--basicui-bg-primary);
}

/* secondary */
.basicui-tabs--theme-secondary
  .basicui-tabs__ul__li--active
  .basicui-tabs__ul__li__button {
  background-color: var(--basicui-bg-secondary);
  color: var(--basicui-fg-secondary);
  fill: var(--basicui-fg-secondary);
  border-color: var(--basicui-bg-secondary);
}

/* DANGER */
.basicui-tabs--theme-danger
  .basicui-tabs__ul__li--active
  .basicui-tabs__ul__li__button {
  background-color: var(--basicui-bg-danger);
  color: var(--basicui-fg-danger);
  fill: var(--basicui-fg-danger);
  border-color: var(--basicui-bg-danger);
}
