@import './tabs-theme.css';
@import './tab-header.css';

.basicui-tabs__ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: var(--basicui-tab-border-width) solid var(--basicui-tab-border-color);
}

.basicui-tabs__ul__li__button {
    background-color: transparent;
    border: none;
    color: var(--theme-black-900);
    fill: var(--theme-black-900);
    cursor: pointer;
    width: 100%;
    padding: var(--basicui-tab-padding-y) var(--basicui-tab-padding-x);
    border: var(--basicui-tab-border-width) solid transparent;
    /* border-bottom: none; */
    border-radius: var(--basicui-tab-border-radius) var(--basicui-tab-border-radius) 0 0;
    transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out, color 250ms ease-in-out;
}


.basicui-dark .basicui-tabs__ul__li__button {
    color: var(--theme-white-50);
    fill: var(--theme-white-50);
}

.basicui-tabs__ul__li__button:hover,
.basicui-tabs__ul__li__button:focus,
.basicui-tabs__ul__li--active .basicui-tabs__ul__li__button {
    border: var(--basicui-tab-border-width) solid var(--basicui-tab-border-color);
    /* border-bottom: none; */
}

.basicui-tabs--shape-round .basicui-tabs__ul__li__button {
    border-radius: var(--basicui-tab-border-radius);
}

.basicui-tabs--shape-rectangle .basicui-tabs__ul__li__button {
    border-radius: 0px;
}

.basicui-tabs--offset .basicui-tabs__ul__li {
    margin-right: var(--basicui-tab-offset);
    margin-bottom: var(--basicui-tab-offset);
}