.basicui-switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.8em;
}

.basicui-switch__input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.basicui-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
}

.basicui-switch__slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: .4s;
}

.basicui-switch__input:checked+.basicui-switch__slider::before {
    background-color: var(--theme-primary-500);
}

.basicui-switch__input:focus+.basicui-switch__slider:before {
    box-shadow: 0 0 1px var(--theme-secondary-500);
}

.basicui-switch__input:checked+.basicui-switch__slider:before {
    transform: translateX(1.9em);
}