.basicui-switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.basicui-switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.basicui-switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-transition: 250ms;
    transition: 250ms;
}

.basicui-switch__slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 250ms;
    transition: 250ms;
}

.basicui-switch__input:checked+.basicui-switch__slider {
    background-color: var(--theme-primary-500);
}

.basicui-switch__input:focus+.basicui-switch__slider {
    box-shadow: 0 0 1px var(--theme-primary-500);
}

.basicui-switch__input:checked+.basicui-switch__slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.basicui-switch__slider {
    border-radius: 34px;
}

.basicui-switch__slider:before {
    border-radius: 50%;
}
