.basicui-button {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    font-size: var(--basicui-button-font-size);
    border: var(--basicui-button-border-thickness) solid var(--basicui-button-background-color);
    background-color: var(--basicui-button-background-color);
    height: var(--basicui-button-height);
    padding: var(--basicui-button-padding);
    border-radius: var(--basicui-button--border-radius);
}
