.basicui-input {
    /* padding: 6px 6px; */
    padding: var(--basicui-formelement-padding);
    line-height: 1.5;
    height: var(--basicui-formelement-height);
    font-size: var(--basicui-formelement-font-size);
    font-weight: var(--basicui-formelement-font-weight);
    text-overflow: ellipsis;
    outline: none;
    background-color: var(--basicui-formelement-background-color);
    border: none;
    border: 1px solid var(--basicui-formelement-border-color);
    border-radius: var(--basicui-formelement-border-radius);
    display: flex;
    align-items: center;
    transition: 250ms border-color ease-in-out, 250ms background-color ease-in-out;
}

.basicui-input:active,
.basicui-input:focus {
    border-color: var(--basicui-formelement-border-color-active);
    background-color: var(--basicui-formelement-background-color-active);
}

.basicui-input:hover {
    border-color: var(--basicui-formelement-border-color-hover);
    background-color: var(--basicui-formelement-background-color-hover);
}