.basicui-select {
    position: relative;
}

.basicui-select__button {
    width: 100%;
    text-align: left;
    height: auto;
    min-height: var(--basicui-formelement-height);
    padding: var(--basicui-formelement-padding);
    padding-top: 6px;
    padding-bottom: 6px;
    /* justify-content: flex-start; */
}

.basicui-select__popper {
    width: 100%;
}