* {
  --basicui-checkbox-background-color: none;
}

.basicui-light .basicui-checkbox--theme-danger,
.basicui-light .basicui-radio--theme-danger {
  --basicui-checkbox-border-color: var(--theme-white-extended-500);
  --basicui-checkbox-checkmark-color: var(--theme-black-500);
  --basicui-checkbox-background-color-hover: var(
    --basicui-bg-danger-transparent
  );
  --basicui-checkbox-border-color-hover: var(--basicui-bg-danger-light);
  --basicui-checkbox-background-color-checked: var(
    --basicui-bg-danger-transparent-light
  );
  --basicui-checkbox-border-color-checked: var(--basicui-bg-danger);
}

.basicui-dark .basicui-checkbox--theme-danger,
.basicui-dark .basicui-radio--theme-danger {
  --basicui-checkbox-border-color: var(--theme-white-extended-500);
  --basicui-checkbox-checkmark-color: var(--theme-white-50);
  --basicui-checkbox-background-color-hover: var(
    --basicui-bg-danger-transparent
  );
  --basicui-checkbox-border-color-hover: var(--basicui-bg-danger-dark);
  --basicui-checkbox-background-color-checked: var(
    --basicui-bg-danger-transparent-dark
  );
  --basicui-checkbox-border-color-checked: var(--basicui-bg-danger);
}
