* {
  --basicui-checkbox-background-color: none;
}

.basicui-light .basicui-checkbox--theme-default,
.basicui-light .basicui-radio--theme-default {
  --basicui-checkbox-border-color: var(--theme-white-extended-500);
  --basicui-checkbox-checkmark-color: var(--theme-black-500);
  --basicui-checkbox-background-color-hover: var(
    --basicui-bg-default-transparent
  );
  --basicui-checkbox-border-color-hover: var(--basicui-bg-default-light);
  --basicui-checkbox-background-color-checked: var(
    --basicui-bg-default-transparent-light
  );
  --basicui-checkbox-border-color-checked: var(--basicui-bg-default);
}

.basicui-dark .basicui-checkbox--theme-default,
.basicui-dark .basicui-radio--theme-default {
  --basicui-checkbox-border-color: var(--theme-white-extended-500);
  --basicui-checkbox-checkmark-color: var(--theme-white-50);
  --basicui-checkbox-background-color-hover: var(
    --basicui-bg-default-transparent
  );
  --basicui-checkbox-border-color-hover: var(--basicui-bg-default-dark);
  --basicui-checkbox-background-color-checked: var(
    --basicui-bg-default-transparent-dark
  );
  --basicui-checkbox-border-color-checked: var(--basicui-bg-default);
}
