* {
  --basicui-checkbox-background-color: none;
}

.basicui-light .basicui-checkbox--theme-primary,
.basicui-light .basicui-radio--theme-primary {
  --basicui-checkbox-border-color: var(--theme-white-extended-500);
  --basicui-checkbox-checkmark-color: var(--theme-black-500);
  --basicui-checkbox-background-color-hover: var(
    --basicui-bg-primary-transparent
  );
  --basicui-checkbox-border-color-hover: var(--basicui-bg-primary-light);
  --basicui-checkbox-background-color-checked: var(
    --basicui-bg-primary-transparent-light
  );
  --basicui-checkbox-border-color-checked: var(--basicui-bg-primary);
}

.basicui-dark .basicui-checkbox--theme-primary,
.basicui-dark .basicui-radio--theme-primary {
  --basicui-checkbox-border-color: var(--theme-white-extended-500);
  --basicui-checkbox-checkmark-color: var(--theme-white-50);
  --basicui-checkbox-background-color-hover: var(
    --basicui-bg-primary-transparent
  );
  --basicui-checkbox-border-color-hover: var(--basicui-bg-primary-dark);
  --basicui-checkbox-background-color-checked: var(
    --basicui-bg-primary-transparent-dark
  );
  --basicui-checkbox-border-color-checked: var(--basicui-bg-primary);
}
