* {
    --basicui-radio-background-color: none;
}

.basicui-light .basicui-radio--theme-default {
    --basicui-radio-border-color: var(--theme-black-100);
    --basicui-radio-dotmark-color: var(--theme-black-900);
    --basicui-radio-background-color-hover: var(--theme-default-transparent-100);
    --basicui-radio-border-color-hover: var(--theme-black-100);
    --basicui-radio-background-color-checked: transparent;
    --basicui-radio-border-color-checked: var(--theme-black-100);
}

.basicui-dark .basicui-radio--theme-default {
    --basicui-radio-border-color: var(--theme-white-400);
    --basicui-radio-dotmark-color: var(--theme-white-50);
    --basicui-radio-background-color-hover: var(--theme-default-transparent-100);
    --basicui-radio-border-color-hover: var(--theme-white-400);
    --basicui-radio-background-color-checked: transparent;
    --basicui-radio-border-color-checked: var(--theme-white-400);
}
