* {
    --basicui-radio-background-color: none;
}

.basicui-light .basicui-radio--theme-primary {
    --basicui-radio-border-color: var(--theme-black-100);
    --basicui-radio-dotmark-color: var(--theme-black-900);
    --basicui-radio-background-color-hover: var(--theme-primary-transparent-100);
    --basicui-radio-border-color-hover: var(--theme-primary-300);
    --basicui-radio-background-color-checked: var(--theme-primary-transparent-200);
    --basicui-radio-border-color-checked: var(--theme-primary-400);
}

.basicui-dark .basicui-radio--theme-primary {
    --basicui-radio-border-color: var(--theme-white-400);
    --basicui-radio-dotmark-color: var(--theme-white-50);
    --basicui-radio-background-color-hover: var(--theme-primary-transparent-100);
    --basicui-radio-border-color-hover: var(--theme-primary-600);
    --basicui-radio-background-color-checked: var(--theme-primary-transparent-200);
    --basicui-radio-border-color-checked: var(--theme-primary-500);
}
