.basicui-button--theme-primary {
  background-color: var(--basicui-bg-primary);
  color: var(--basicui-fg-primary);
  fill: var(--basicui-fg-primary);
  border-color: var(--basicui-bg-primary);
}

.basicui-button--theme-primary:hover,
.basicui-button--theme-primary:focus {
  background-color: var(--basicui-bg-primary-light);
  color: var(--basicui-fg-primary);
  fill: var(--basicui-fg-primary);
  border-color: var(--basicui-bg-primary-light);
}

.basicui-dark .basicui-button--theme-primary {
  background-color: var(--basicui-bg-primary);
  color: var(--basicui-fg-primary);
  fill: var(--basicui-fg-primary);
  border-color: var(--basicui-bg-primary);
}

.basicui-dark .basicui-button--theme-primary:hover,
.basicui-dark .basicui-button--theme-primary:focus {
  background-color: var(--basicui-bg-primary-dark);
  color: var(--basicui-fg-primary);
  fill: var(--basicui-fg-primary);
  border-color: var(--basicui-bg-primary-dark);
}

/* Variant = outline */
.basicui-button--variant-outline.basicui-button--theme-primary {
  background-color: transparent;
  border-color: var(--basicui-bg-primary);
  color: var(--theme-black-900);
  fill: var(--theme-black-900);
}

.basicui-button--variant-outline.basicui-button--theme-primary:hover,
.basicui-button--variant-outline.basicui-button--theme-primary:focus {
  background-color: transparent;
  border-color: var(--basicui-bg-primary-light);
  color: var(--theme-black-900);
  fill: var(--theme-black-900);
}

.basicui-dark .basicui-button--variant-outline.basicui-button--theme-primary {
  color: var(--theme-white-50);
  fill: var(--theme-white-50);
}

.basicui-dark
  .basicui-button--variant-outline.basicui-button--theme-primary:hover,
.basicui-dark
  .basicui-button--variant-outline.basicui-button--theme-primary:focus {
  border-color: var(--basicui-bg-primary-dark);
  color: var(--theme-white-50);
  fill: var(--theme-white-50);
}

/* Variant = fill */
.basicui-button--variant-fill.basicui-button--theme-primary {
  background-color: transparent;
  border-color: var(--basicui-bg-primary);
  color: var(--theme-black-900);
  fill: var(--theme-black-900);
}

.basicui-button--variant-fill.basicui-button--theme-primary:hover,
.basicui-button--variant-fill.basicui-button--theme-primary:focus {
  background-color: var(--basicui-bg-primary);
  color: var(--basicui-fg-primary);
  fill: var(--basicui-fg-primary);
  border-color: var(--basicui-bg-primary);
}

.basicui-dark .basicui-button--variant-fill.basicui-button--theme-primary {
  color: var(--theme-white-50);
  fill: var(--theme-white-50);
}

.basicui-dark .basicui-button--variant-fill.basicui-button--theme-primary:hover,
.basicui-dark
  .basicui-button--variant-fill.basicui-button--theme-primary:focus {
    color: var(--basicui-fg-primary);
    fill: var(--basicui-fg-primary);
}

/* Variant = transparent */
.basicui-button--variant-transparent.basicui-button--theme-primary {
  background-color: var(--basicui-bg-primary-transparent);
  color: #000;
  fill: #000;
  border-color: var(--basicui-bg-primary);
}

.basicui-button--variant-transparent.basicui-button--theme-primary:hover,
.basicui-button--variant-transparent.basicui-button--theme-primary:focus {
  background-color: var(--basicui-bg-primary-transparent-light);
  color: #000;
  fill: #000;
  border-color: var(--basicui-bg-primary);
}

.basicui-dark
  .basicui-button--variant-transparent.basicui-button--theme-primary {
  color: #fff;
  fill: #fff;
}

.basicui-dark
  .basicui-button--variant-transparent.basicui-button--theme-primary:hover,
.basicui-dark
  .basicui-button--variant-transparent.basicui-button--theme-primary:focus {
  background-color: var(--basicui-bg-primary-transparent-dark);
  color: #fff;
  fill: #fff;
}

/* Variant = chroma */
.basicui-button--variant-chroma.basicui-button--theme-primary {
  background-color: var(--basicui-bg-primary);
  color: var(--basicui-fg-primary);
  fill: var(--basicui-fg-primary);
  border-color: var(--basicui-bg-primary);
}

.basicui-button--variant-chroma.basicui-button--theme-primary:hover,
.basicui-button--variant-chroma.basicui-button--theme-primary:focus {
  background-color: var(--basicui-bg-secondary);
  color: var(--basicui-fg-secondary);
  fill: var(--basicui-fg-secondary);
  border-color: var(--basicui-bg-secondary);
}

.basicui-dark .basicui-button--variant-chroma.basicui-button--theme-primary {
}

.basicui-dark
  .basicui-button--variant-chroma.basicui-button--theme-primary:hover,
.basicui-dark
  .basicui-button--variant-chroma.basicui-button--theme-primary:focus {
}
