.basicui-button--theme-default {
  background-color: var(--basicui-bg-default);
  color: var(--basicui-fg-default);
  fill: var(--basicui-fg-default);
  border-color: var(--basicui-bg-default);
}

.basicui-button--theme-default:hover,
.basicui-button--theme-default:focus {
  background-color: var(--basicui-bg-default-light);
  color: var(--basicui-fg-default);
  fill: var(--basicui-fg-default);
  border-color: var(--basicui-bg-default-light);
}

.basicui-dark .basicui-button--theme-default {
  background-color: var(--basicui-bg-default);
  color: var(--basicui-fg-default);
  fill: var(--basicui-fg-default);
  border-color: var(--basicui-bg-default);
}

.basicui-dark .basicui-button--theme-default:hover,
.basicui-dark .basicui-button--theme-default:focus {
  background-color: var(--basicui-bg-default-dark);
  color: var(--basicui-fg-default);
  fill: var(--basicui-fg-default);
  border-color: var(--basicui-bg-default-dark);
}

/* Variant = outline */
.basicui-button--variant-outline.basicui-button--theme-default {
  background-color: transparent;
  color: #000;
  fill: #000;
  border-color: var(--basicui-bg-default);
}

.basicui-button--variant-outline.basicui-button--theme-default:hover,
.basicui-button--variant-outline.basicui-button--theme-default:focus {
  background-color: transparent;
  border-color: var(--basicui-bg-default-light);
}

.basicui-dark .basicui-button--variant-outline.basicui-button--theme-default {
  background-color: transparent;
  color: #fff;
  fill: #fff;
  border-color: var(--basicui-bg-default);
}

.basicui-dark
  .basicui-button--variant-outline.basicui-button--theme-default:hover,
.basicui-dark
  .basicui-button--variant-outline.basicui-button--theme-default:focus {
  background-color: transparent;
  border-color: var(--basicui-bg-default-dark);
}

/* Variant = fill */
.basicui-button--variant-fill.basicui-button--theme-default {
  background-color: transparent;
  color: #000;
  fill: #000;
}

.basicui-dark .basicui-button--variant-fill.basicui-button--theme-default {
  background-color: transparent;
  color: #fff;
  fill: #fff;
}

.basicui-button--variant-fill.basicui-button--theme-default:hover,
.basicui-button--variant-fill.basicui-button--theme-default:focus {
  background-color: var(--basicui-bg-default);
  color: var(--basicui-fg-default);
  fill: var(--basicui-fg-default);
  border-color: var(--basicui-bg-default);
}

.basicui-dark .basicui-button--variant-fill.basicui-button--theme-default:hover,
.basicui-dark
  .basicui-button--variant-fill.basicui-button--theme-default:focus {
}

/* Variant = transparent */
.basicui-button--variant-transparent.basicui-button--theme-default {
  background-color: var(--basicui-bg-default-transparent);
  color: #000;
  fill: #000;
  border-color: var(--basicui-bg-default-transparent);
}

.basicui-button--variant-transparent.basicui-button--theme-default:hover,
.basicui-button--variant-transparent.basicui-button--theme-default:focus {
  background-color: var(--basicui-bg-default-transparent-light);
  color: #000;
  fill: #000;
  border-color: var(--basicui-bg-default-transparent-light);
}

.basicui-dark
  .basicui-button--variant-transparent.basicui-button--theme-default {
  color: #fff;
  fill: #fff;
}

.basicui-dark
  .basicui-button--variant-transparent.basicui-button--theme-default:hover,
.basicui-dark
  .basicui-button--variant-transparent.basicui-button--theme-default:focus {
  color: #fff;
  fill: #fff;
}

/* Variant = chroma */
.basicui-button--variant-chroma.basicui-button--theme-default {
  background-color: var(--basicui-bg-default);
  color: var(--basicui-fg-default);
  fill: var(--basicui-fg-default);
  border-color: var(--basicui-bg-default);
}

.basicui-button--variant-chroma.basicui-button--theme-default:hover,
.basicui-button--variant-chroma.basicui-button--theme-default:focus {
  background-color: var(--basicui-bg-primary);
  color: var(--basicui-fg-primary);
  fill: var(--basicui-fg-primary);
  border-color: var(--basicui-bg-primary);
}

.basicui-dark .basicui-button--variant-chroma.basicui-button--theme-default {
}

.basicui-dark
  .basicui-button--variant-chroma.basicui-button--theme-default:hover,
.basicui-dark
  .basicui-button--variant-chroma.basicui-button--theme-default:focus {
}
