* {
  box-sizing: border-box;
}

.basicui-internal-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--basicui-fg);
}

::selection {
  background-color: var(--basicui-bg-secondary-muted);
  color: black;
}

::-webkit-selection {
  background-color: var(--basicui-bg-secondary-muted);
  color: black;
}

::-moz-selection {
  background-color: var(--basicui-bg-secondary-muted);
  color: black;
}


@media (min-width: 767px) {

  .basicui-mobile-only,
  .basicui-mobileonly {
    display: none;
  }
}

@media (max-width: 768px) {

  .basicui-web-only,
  .basicui-webonly .basicui-desktop-only,
  .basicui-desktoponly {
    display: none;
  }
}

