.basicui-form-element-error,
.basicui-form-element-warning,
.basicui-form-element-success,
.basicui-form-element-info {
  margin-top: 4px;
  font-size: 10px;
  color: var(--basicui-bg-danger-text);
}

.basicui-form-element-warning {
  color: var(--basicui-bg-warning);
}

.basicui-form-element-success {
  color: var(--basicui-bg-success);
}

.basicui-form-element-info {
  color: var(--basicui-bg-default);
}

.basicui-form-element-label, .basicui-form-element-labeldesc {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  text-transform: capitalize;
  word-break: keep-all;
  color: var(--basicui-formelement-label-color);
}

.basicui-form-element-labeldesc {
  margin-top: -2px;
  opacity: 0.50;
}