.basicui-link {
    font-size: 12px;
    display: inline;
}

.basicui-link>* {
    vertical-align: middle;
}

.basicui-link,
.basicui-link:hover,
.basicui-link:focus,
.basicui-link:active {
    text-decoration: none;
}

.basicui-link svg {
    height: 16px;
    display: inline-block;
    margin-right: 4px;
}

.basicui-link:hover span {
    text-decoration: underline;
}

.basicui-link {
    color: var(--theme-default-700);
}

.basicui-link svg {
    fill: var(--theme-default-700);
}

.basicui-dark .basicui-link {
    color: var(--theme-default-200);
}

.basicui-dark .basicui-link svg {
    fill: var(--theme-default-200);
}
