.basicui-link {
  color: var(--basicui-bg-default);
}

.basicui-link svg {
  fill: var(--basicui-bg-default);
}

.basicui-link.basicui-link--no-glow {
  color: var(--basicui-bg-default);
}

.basicui-link.basicui-link--no-glow svg {
  fill: var(--basicui-bg-default);
}

.basicui-dark .basicui-link.basicui-link--no-glow {
  color: var(--basicui-bg-default-light);
}

.basicui-dark .basicui-link.basicui-link--no-glow svg {
  fill: var(--basicui-bg-default-light);
}

.basicui-link:hover,
.basicui-link:focus {
  color: var(--basicui-bg-default-light);
}

.basicui-link:hover svg,
.basicui-link:focus svg {
  fill: var(--basicui-bg-default);
}

.basicui-dark .basicui-link:hover,
.basicui-dark .basicui-link:focus {
  color: var(--basicui-bg-default-dark);
}

.basicui-dark .basicui-link:hover svg,
.basicui-dark .basicui-link:focus svg {
  fill: var(--basicui-bg-default-dark);
}
