.basicui-link--theme-primary {
  color: var(--basicui-bg-primary);
}

.basicui-link--theme-primary svg {
  fill: var(--basicui-bg-primary);
}

.basicui-link--theme-primary.basicui-link--no-glow {
  color: var(--basicui-bg-primary);
}

.basicui-link--theme-primary.basicui-link--no-glow svg {
  fill: var(--basicui-bg-primary);
}

.basicui-link--theme-primary:hover,
.basicui-link--theme-primary:focus {
  color: var(--basicui-bg-primary-light);
}

.basicui-link--theme-primary:hover svg,
.basicui-link--theme-primary:focus svg {
  fill: var(--basicui-bg-primary-light);
}
