.basicui-table.theme-default.table-inverse {
    background-color: var(--basicui-bg-default);
    color: var(--basicui-fg-default);
}

.basicui-dark .basicui-table.theme-default.table-inverse {
    background-color: var(--basicui-bg-default);
    color: var(--basicui-fg-default);
}

.basicui-table.theme-default.table-inverse th,
.basicui-table.theme-default.table-inverse td,
.basicui-dark .basicui-table.theme-default.table-inverse th,
.basicui-dark .basicui-table.theme-default.table-inverse td {
    border-top: 1px solid var(--theme-white-700);
}

.basicui-table.theme-default.table-inverse th,
.basicui-dark .basicui-table.theme-default.table-inverse th {
    border-bottom: 2px solid var(--theme-white-700);
    border-top: none;
}

.basicui-table.theme-default thead.thead-inverse {
    background-color: var(--basicui-bg-default);
    color: var(--basicui-fg-default);
}
.basicui-dark .basicui-table.theme-default thead.thead-inverse {
    background-color: var(--basicui-bg-default);
    color: var(--basicui-fg-default);
}

.basicui-table.theme-default thead.thead-inverse th {
    border-bottom: none;
    border-top: none;   
}