.basicui-appshellreveal-mobile-navbar-body {
  padding: 20px;
}

.basicui-appshellreveal-mobile-navbar-body::-webkit-scrollbar {
  display: none;
}

.basicui-appshellreveal-mobile-navbar-body:first-child {
  overflow-y: auto;
}
