.basicui-appshellreveal-navbar-body {
  padding: 10px 10px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  align-content: flex-start;
}

.basicui-appshellreveal-navbar-body__toggle {
  background-color: transparent;
  border: none;
  color: inherit;
  width: 60px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basicui-appshellreveal-navbar-body__toggle svg {
  height: 1em;
}
