.basicui-selectnative {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.basicui-selectnative option {
    background-color: var(--theme-default-50);
    color: var(--theme-default-50i);
}

.basicui-selectnative option:checked {
    background-color: var(--theme-default-200);
    color: var(--theme-default-200i);
}

.basicui-dark .basicui-selectnative option {
    background-color: var(--theme-default-900);
    color: var(--theme-default-900i);
}

.basicui-dark .basicui-selectnative option:checked {
    background-color: var(--theme-default-700);
    color: var(--theme-default-700i);
}

.basicui-selectnative--multiple {
    height: auto;
    padding: 0;
}

.basicui-selectnative--multiple option {
    background-color: transparent;
}

.basicui-dark .basicui-selectnative--multiple option {
    background-color: transparent;
    color: var(--theme-white-50);
}