.basicui-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 100;
}

.basicui-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000060;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basicui-modal__base {
    z-index: 102;
    background-color: var(--theme-default-50);
    min-width: 500px;
    max-width: 90vw;
    border-radius: var(--basicui-formelement-border-radius);
}

.basicui-dark .basicui-modal__base {
    background-color: var(--theme-default-600);
}

.basicui-modal__header {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    height: 46px;
    align-items: center;
    border-bottom: 1px solid var(--theme-default-100);
}

.basicui-dark .basicui-modal__header {
    border-bottom: 1px solid var(--theme-default-500);
}

.basicui-modal__header__heading {
    font-size: 16px;
    font-weight: 500;
}

.basicui-modal__footer {
    padding: 0 12px;
    display: flex;
    justify-content: flex-end;
    min-height: 46px;
    align-items: center;
    border-top: 1px solid var(--theme-default-100);
}

.basicui-dark .basicui-modal__footer {
    border-top: 1px solid var(--theme-default-500);
}

.basicui-modal__body {
    padding: 24px 12px;
}