* {
  --basicui-appshellreveal-navbar-width: 300px;
  --basicui-appshellreveal-navbar-width-collapsed: 75px;
  --basicui-appshellreveal-navbar-bg: var(--basicui-bg-surface);
  --basicui-appshellreveal-topbar-height: 42px;
}
