* {
  --basicui-appshellsentinel-navbar-width: 300px;
  --basicui-appshellsentinel-navbar-width-collapsed: 75px;
  --basicui-appshellsentinel-navbar-bg: var(--basicui-bg-surface);
  --basicui-appshellsentinel-topbar-height: 42px;
}
