* {
  --basicui-appshell-navbar-width: 300px;
  --basicui-appshell-navbar-width-collapsed: 75px;
  --basicui-appshell-navbar-bg: var(--basicui-bg-surface);
  --basicui-appshell-topbar-height: 42px;
}
