.basicui-checkbox__label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.basicui-checkbox__label__input {
    margin: 0;
    appearance: none;
    width: 21px;
    height: 21px;
    border: 1px solid #a3b0b5;
    background: none;
    outline: 0;
    cursor: pointer;
    border-radius: 0.125rem;
    display: inline-block;
    vertical-align: bottom;
    /* margin-right: 5px; */
    /* position: static; */
}

.basicui-checkbox__label__input:checked:after {
    content: "";
    display: block;
    position: relative;
    width: 6px;
    height: 12px;
    border-bottom: 1px solid #4d595e;
    border-right: 1px solid #4d595e;
    left: 7px;
    bottom: -2px;
    transform: rotate(40deg);
    
}