.basicui-select__ul {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    max-height: 250px;
    overflow: hidden auto;
    /* border: 1px solid rgba(0, 0, 0, 0.175); */
    border-radius: 4px;
}

.basicui-select__ul {
    background-color: var(--theme-default-50);
}

.basicui-dark .basicui-select__ul {
    background-color: var(--theme-default-900);
}

.basicui-select__ul__search {
    padding: 0 6px 6px 6px;
}

.basicui-select__ul__search input {
    width: 100%;
}

.basicui-select__ul__li {
    /* border-bottom: 1px solid #00000020; */
}

.basicui-select__ul__li:last-child {
    border-bottom: none;
}

.basicui-select__ul__li__link {
    width: 100%;
    padding: 6px 6px;
    font-size: var(--basicui-formelement-font-size);
    font-weight: var(--basicui-formelement-font-weight);
    text-align: left;
    background-color: transparent;
    color: var(--theme-black-900);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
    justify-items: flex-start;
    align-items: center;
    border: none;
    box-shadow: none;
    line-height: 1.5;
    transition: 250ms background-color ease-in-out, 250ms color ease-in-out;
}

.basicui-dark .basicui-select__ul__li__link {
    color: var(--theme-white-50);
}

.basicui-select__ul__li__indicator {
    width: 16px;
}

.basicui-select__ul__li__indicator div {
    display: flex;
}

.basicui-select__ul__li__indicator svg {
    fill: var(--theme-black-900);
}

.basicui-dark .basicui-select__ul__li__indicator svg {
    fill: var(--theme-white-50);
}

.basicui-select__ul__li__link--active,
.basicui-select__ul__li__link:hover {
    background-color: var(--theme-primary-transparent-50);
}

.basicui-dark .basicui-select__ul__li__link--active,
.basicui-dark .basicui-select__ul__li__link:hover {
    background-color: var(--theme-default-800);
}
