.basicui-appshellsentinel-navbar-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: var(--basicui-bg-surface);
  height: var(--basicui-appshellsentinel-topbar-height);
  padding: 0 10px;
  border-right: 1px solid var(--basicui-border-color);
  transition: width 250ms ease-in-out, background-color 250ms ease-in-out;
}

.basicui-appshellsentinel-navbar-footer--expanded {
  width: var(--basicui-appshellsentinel-navbar-width);
}

.basicui-appshellsentinel-navbar-footer--collapsed {
  width: var(--basicui-appshellsentinel-navbar-width-collapsed);
}

.basicui-appshellsentinel-navbar-footer__left {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.basicui-appshellsentinel-navbar-footer__left button {
  font-size: inherit;
  box-shadow: none;
  border: none;
  background: none;
  color: inherit;
  font-size: 24px;
  width: 60px;
  display: flex;
  justify-content: center;
}

.basicui-appshellsentinel-navbar-footer__right {
  width: 60px;
  display: flex;
  justify-content: center;
}

.basicui-appshellsentinel-navbar-footer svg {
  height: 1em;
}
