/* * {
  --theme-default-50: #f5f6f6;
  --theme-default-100: #e6e7e7;
  --theme-default-200: #d0d1d1;
  --theme-default-300: #afb1b1;
  --theme-default-400: #86898a;
  --theme-default-500: #696c6d;
  --theme-default-600: #5b5e5f;
  --theme-default-700: #4e5050;
  --theme-default-800: #444546;
  --theme-default-900: #3c3d3d;

  --basicui-fg-default: #000;
  --basicui-fg-default: #000;
  --basicui-fg-default: #000;
  --basicui-fg-default: #000;
  --basicui-fg-default: #fff;
  --basicui-fg-default: #fff;
  --basicui-fg-default: #fff;
  --basicui-fg-default: #fff;
  --basicui-fg-default: #fff;
  --basicui-fg-default: #fff;
} */
.basicui-light {
  --basicui-bg-default: #d0d1d1;
  --basicui-bg-default-light: #dfe0e0;
  --basicui-bg-default-dark: #c1c2c2;
  --basicui-bg-default-muted: #eaeaea;
  --basicui-bg-default-text: #a9abab;
  --basicui-bg-default-transparent: #d0d1d170;
  --basicui-bg-default-transparent-light: #dfe0e070;
  --basicui-bg-default-transparent-dark: #c1c2c270;
  --basicui-bg-default-transparent-muted: #eaeaea70;
  --basicui-fg-default: #000000;
}
.basicui-dark {
  --basicui-bg-default: #4f4f4f;
 --basicui-bg-default-light: #5e5e5e;
 --basicui-bg-default-dark: #404040;
 --basicui-bg-default-muted: #686868;
 --basicui-bg-default-text: #757575;
 --basicui-bg-default-transparent: #4f4f4fa0;
 --basicui-bg-default-transparent-light: #5e5e5ea0;
 --basicui-bg-default-transparent-dark: #404040a0;
 --basicui-bg-default-transparent-muted: #686868a0;
 --basicui-fg-default: #ffffff; 
 }