* {
    --theme-white-900: #6c6c6c;
    --theme-white-800: #7c7c7c;
    --theme-white-700: #8c8c8c;
    --theme-white-600: #9c9c9c;
    --theme-white-500: #acacac;
    --theme-white-400: #bcbcbc;
    --theme-white-300: #cccccc;
    --theme-white-200: #dcdcdc;
    --theme-white-100: #ececec;
    --theme-white-50: #fcfcfc;

    --theme-white-900i: #000;
    --theme-white-800i: #000;
    --theme-white-700i: #000;
    --theme-white-600i: #000;
    --theme-white-500i: #000;
    --theme-white-400i: #000;
    --theme-white-300i: #000;
    --theme-white-200i: #000;
    --theme-white-100i: #000;
    --theme-white-50i: #000;
}