* {
    --theme-default-50: #f7f7f7;
    --theme-default-100: #e3e3e3;
    --theme-default-200: #c8c8c8;
    --theme-default-300: #a4a4a4;
    --theme-default-400: #818181;
    --theme-default-500: #666666;
    --theme-default-600: #515151;
    --theme-default-700: #434343;
    --theme-default-800: #383838;
    --theme-default-900: #313131;
}