* {
  --basicui-bg-danger: #dc3545;
  --basicui-bg-danger-light: #e04f5d;
  --basicui-bg-danger-dark: #cf2434;
  --basicui-bg-danger-muted: #df6571;
  --basicui-bg-danger-text: #a71d2a;
  --basicui-bg-danger-transparent: #dc354570;
  --basicui-bg-danger-transparent-light: #e04f5d70;
  --basicui-bg-danger-transparent-dark: #cf243470;
  --basicui-bg-danger-transparent-muted: #df657170;
  --basicui-fg-danger: #ffffff;
}
.basicui-dark {
  --basicui-bg-danger: #d63b4a;
  --basicui-bg-danger-light: #db5461;
  --basicui-bg-danger-dark: #c82a39;
  --basicui-bg-danger-muted: #da6a75;
  --basicui-bg-danger-text: #e77681;
  --basicui-bg-danger-transparent: #d63b4a70;
  --basicui-bg-danger-transparent-light: #db546170;
  --basicui-bg-danger-transparent-dark: #c82a3970;
  --basicui-bg-danger-transparent-muted: #da6a7570;
  --basicui-fg-danger: #ffffff;
}
