* {
    --theme-black-900: #121212;
    --theme-black-800: #1d1d1d;
    --theme-black-700: #222222;
    --theme-black-600: #242424;
    --theme-black-500: #272727;
    --theme-black-400: #2c2c2c;
    --theme-black-300: #2e2e2e;
    --theme-black-200: #323232;
    --theme-black-100: #353535;
    --theme-black-50: #383838;
}