* {
    --theme-black-900: #020202;
    --theme-black-800: #121212;
    --theme-black-700: #222222;
    --theme-black-600: #323232;
    --theme-black-500: #424242;
    --theme-black-400: #525252;
    --theme-black-300: #626262;
    --theme-black-200: #727272;
    --theme-black-100: #828282;
    --theme-black-50: #929292;

    --theme-black-900i: #fff;
    --theme-black-800i: #fff;
    --theme-black-700i: #fff;
    --theme-black-600i: #fff;
    --theme-black-500i: #fff;
    --theme-black-400i: #fff;
    --theme-black-300i: #fff;
    --theme-black-200i: #fff;
    --theme-black-100i: #fff;
    --theme-black-50i:  #fff;
}