* {
  --basicui-bg-primary: #90aead;
  --basicui-bg-primary-light: #a2bbba;
  --basicui-bg-primary-dark: #7ea1a0;
  --basicui-bg-primary-muted: #b1c0bf;
  --basicui-bg-primary-text: #668c8a;
  --basicui-bg-primary-transparent: #90aead70;
  --basicui-bg-primary-transparent-light: #a2bbba70;
  --basicui-bg-primary-transparent-dark: #7ea1a070;
  --basicui-bg-primary-transparent-muted: #b1c0bf70;
  --basicui-fg-primary: #000000;
}
.basicui-dark {
  --basicui-bg-primary: #95a9a9;
  --basicui-bg-primary-light: #a6b7b6;
  --basicui-bg-primary-dark: #849c9b;
  --basicui-bg-primary-muted: #b5bcbc;
  --basicui-bg-primary-text: #bccece;
  --basicui-bg-primary-transparent: #95a9a970;
  --basicui-bg-primary-transparent-light: #a6b7b670;
  --basicui-bg-primary-transparent-dark: #849c9b70;
  --basicui-bg-primary-transparent-muted: #b5bcbc70;
  --basicui-fg-primary: #000000;
}
