* {
  --basicui-dark-bg-base: #2b2b2b;
  /* --basicui-dark-bg-base-hover: #242424; */
  --basicui-dark-bg-surface: #303030;
  /* --basicui-dark-bg-surface-hover: #2e2e2e; */
  --basicui-dark-bg-card: #3b3b3b;
  /* --basicui-dark-bg-card-hover: #3b3b3b; */
  --basicui-dark-bg-accent: #404040;
  --basicui-dark-border-color: #4f4f4f;
  --basicui-dark-fg: #fff;

  --basicui-light-bg-base: #f8f9fa;
  --basicui-light-bg-surface: #ffffff;
  --basicui-light-bg-card: #ffffff;
  --basicui-light-bg-accent: #f1f3f5;
  /* --basicui-light-border-color: #e9ecef; */
  --basicui-light-border-color: #dfdfdf;
  --basicui-light-fg: #000;
}

.basicui-light {
  --basicui-bg-base: var(--basicui-light-bg-base);
  --basicui-bg-surface: var(--basicui-light-bg-surface);
  --basicui-bg-card: var(--basicui-light-bg-card);
  --basicui-bg-accent: var(--basicui-light-bg-accent);
  --basicui-border-color: var(--basicui-light-border-color);
  --basicui-fg: var(--basicui-light-fg);
}

.basicui-dark {
  --basicui-bg-base: var(--basicui-dark-bg-base);
  --basicui-bg-surface: var(--basicui-dark-bg-surface);
  --basicui-bg-card: var(--basicui-dark-bg-card);
  --basicui-bg-accent: var(--basicui-dark-bg-accent);
  --basicui-border-color: var(--basicui-dark-border-color);
  --basicui-fg: var(--basicui-dark-fg);
}

.basicui-base,
.basicui-surface,
.basicui-card,
.basicui-accent {
  background-color: var(--basicui-bg-base);
  border-color: var(--basicui-border-color);
  color: var(--basicui-fg);
}

.basicui-surface {
  background-color: var(--basicui-bg-surface);
}
.basicui-card {
  background-color: var(--basicui-bg-card);
}
.basicui-accent {
  background-color: var(--basicui-bg-accent);
}
