@import './style-theme.css';

.basicui-accordion {
    overflow: hidden;
}

.basicui-accordion .basicui-accordion__header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: flex-start;
    align-content: center;
    background-color: transparent;
    border: none;
    color: inherit;
    height: var(--basicui-accordion-header-height);
    padding: 0 var(--basicui-accordion-padding-x);
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.basicui-accordion .basicui-accordion__body {
    height: 0;
    transition: height 250ms ease-in-out;
}

.basicui-accordion.accordion-active .basicui-accordion__body {
    border-top: var(--basicui-accordion-border-width) solid var(--basicui-accordion-border-color);
}

.basicui-accordion .basicui-accordion__body__content {
    padding: 16px var(--basicui-accordion-padding-x);
}


.basicui-accordion {
    border-radius: 0;
    border: none;
}

.basicui-accordion:not(:last-of-type) {
    border-bottom: var(--basicui-accordion-border-width) solid var(--basicui-accordion-border-color);
}

.basicui-accordion.accordion-bordered {
    border: var(--basicui-accordion-border-width) solid var(--basicui-accordion-border-color);
    border-bottom: none;
}

.basicui-accordion.accordion-bordered:first-of-type {
    border-radius: var(--basicui-accordion-border-radius) var(--basicui-accordion-border-radius) 0 0;
}

.basicui-accordion.accordion-bordered:last-of-type {
    border-radius: 0 0 var(--basicui-accordion-border-radius) var(--basicui-accordion-border-radius);
    border-bottom: var(--basicui-accordion-border-width) solid var(--basicui-accordion-border-color);
}
